<div class="blog-header" color="blue">
  <div class="container">
    <h1 class="blog-title">WindInfo</h1>
    <p class="lead blog-description"> Windsurfing Information</p>
  </div>
</div>

<hr>

<div class="container">

  <div class="row">

    <div class="col-sm-8 blog-main">
      <% @posts.each do |post|%>

      <div class="blog-post">
        <h2 class="blog-post-title"><%= post.title %></h2>
        <p class="blog-post-meta"><%= post.date%> by <a><%= post.author%></a></p>

        <p><%= simple_format(post.article)%></p>

      </div><!-- /.blog-post -->
      <% end %>
    </div><!-- /.blog-main -->
  </div>
</div>
