<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">WindInfo</h1>
        <p>Welcome to this page. This is for windsurfers to get information. Please press the Next Page button to look other windsurfing information homepage. </p>
        <p><a class="btn btn-primary btn-lg" href="/main" role="button">Next Page &raquo;</a></p>
      </div>
    </div>
